/* This file is for your main application css. */

@import "./phoenix.css";


/* LiveView */
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

.vfo {
  font-family: "Impact";
  font-size: 74pt;
  font-weight: 500;
}

