/* This file is for your main application css. */

@import "./phoenix.css";


/* LiveView */
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

.vfo {
  font-family: "Impact";
  font-size: 74pt;
  font-weight: 500;
  white-space: pre;
}

.pttIndicator {
  background-color: black;
  color: white;
  border-radius: 3px;
  font-size: 12pt;
  padding: 0.5rem 1rem;
  text-align: center;
  
}

.vfoStatus {
  margin-bottom: 1rem;
  /*border: 1px dashed red;*/
}

.signalIndicator {
  height: 25px;
}

.debug {
  border: 1px dotted red;
}
